
<h1><%= t 'Team.index.editteam'%> </h1>

<%= render "form", team: @team %>

<br>

<div>
   <%= link_to t("Team.index.show team"), @team , class:"btn btn-dark" %>  |
  <%= link_to t("Team.index.back to teams"), teams_path  , class:"btn btn-dark"%>
  </div>
