<h1>Editing employee</h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to t('activerecord.attributes.employee.showemp'), @employee %> |
<%= link_to t('activerecord.attributes.employee.backemp') , employees_path %></div>
