<h1> <%= t 'employee.index.New employee'%> </h1>

<%= render "form", employee: @employee %>

<br>

<div>
 <%= link_to t('activerecord.attributes.employee.back to employees') , employees_path  , class:"btn btn-dark" %></div>
</div>
