<h1><%= t 'target.index.New target'%> </h1>

<%= render "form", target: @target %>

<br>

<div>
 <%= link_to  t("activerecord.attributes.target.back to targets") , targets_path , class:"btn btn-dark" %>
</div>
