<!DOCTYPE html>
 <html>
<h1>Welcome to My new site, <%= @user.name %></h1>
<p>
You have successfully signed up to My new Site and now have full access.
Your username is: <%= @user.name %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>