<h1>  <%= t("activerecord.attributes.user.edit user") %>  </h1>

<%= render "form", user: @user %>

<br>

<div>
 <%= link_to t("activerecord.attributes.user.show user") , @user , class:"btn btn-dark" %> | 
 <%= link_to t("activerecord.attributes.user.back to users") , users_path , class:"btn btn-dark" %>

</div>
 <br><br>