<h1>Editing division</h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to t("activerecord.attributes.division.Showdivision") , @division %> |
  <%= link_to t("activerecord.attributes.division.backdivision"), divisions_path %>
</div>
