<h1>Editing division</h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to t("activerecord.attributes.division.Show division") , @division , class:"btn btn-dark"  %> |
  <%= link_to t("activerecord.attributes.division.back to division"), divisions_path , class:"btn btn-dark"  %>
</div>
