<h1><%= t 'division.index.New division'%> </h1>

<%= render "form", division: @division %>

<br>

<div>
   <%= link_to  t("activerecord.attributes.division.back to division"), divisions_path , class:"btn btn-dark"  %>

</div>
