<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

  <div class="container-fluid">


    <a class="navbar-brand" href="#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7zjcIL_emPNmSF1JtsPYhrWJh_0LtWC2f7DxDO-dquJouh0CRHyJL8g1eJu0z2vp3NM0&usqp=CAU" width="80" height="80" alt="hhhhhvytc">

  

    
    <%= link_to t('home._header.home'), root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        <li class="nav-item">
      
        </li>

         <li class="nav-item">
     
        </li>
        <li class="nav-item">
        </li>

        <li class="nav-item">
        </li>

        <li class="nav-item">
        </li>

        <li class="nav-item">
        </li>
       
      </ul>
     </div>

   <ul class="navbar-nav ml-auto">
 <% if myuser_signed_in? %>
      <li class="nav-item">
        <%= button_to t('sign-out'), destroy_myuser_session_path , method: :delete ,class: 'nav-link' , class:"btn btn-dark" %></a>
     </li>

      <% else %>
    <li class="nav-item">
        <%= link_to t('Register'), new_myuser_registration_path , class: 'nav-link' , class:"btn btn-dark" %>
    </li>
  
    <li class="nav-item">
         <%= link_to  t('log-in'), new_myuser_session_path , class: 'nav-link' , class:"btn btn-dark" %>
        </li>

      <% end %>
    

      </ul>
    </div>
  </div>
</nav>