<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
</style>
</head>
<body>


<div class="footer">
</p>

<p> <%= t('Copyright')%> </p>

 <%= link_to t('en'), root_path(locale: :en) , class:"btn btn-light"%>
<%= link_to t('ar'), root_path(locale: :ar) , class:"btn btn-light" %>

</div>

</body>
</html> 